.vscode/
frontend/node_modules/
#config
*config.yaml

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
backend/venv/
env/
.env

# Distribution / Packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
backend/worker_transfer/r2s3
backend/go-app/vendor

backend.pid
frontend.pid

# Logs
*.log
nohup.out


# frontend 
frontend/vite.config.js
frontend/package-lock.json
config_back.yaml
script/*
*_test.go
config_back_local.yaml
config_back_local_back.yaml
config_local_db.yaml
*.md
*cookie.txt
*cookies.txt
check_queue.sh
debug_queue.py

# Compiled binaries
*.exe
backend/go-app/unbound-future-backend
backend/worker_transfer/worker-transfer
backend/worker_downloader/worker-downloader
backend/proxy_tester/proxy_tester
backend/worker_ffmpeg/worker-ffmpeg
backend/worker_ffmpeg/scanner